body {
  background-color: rgb(54, 167, 122);
  
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-wrapper{
  background-color: rgb(37, 66, 66);
  width: 400px;
  border-radius: 16px;
  padding: 16px;
}
.row{
  display: flex;
}